USE [master]
GO
/****** Object:  Database [PerformanceBoardDB]    Script Date: 28-07-2025 17:04:14 ******/
CREATE DATABASE [PerformanceBoardDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PerformanceBoardDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PerformanceBoardDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PerformanceBoardDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PerformanceBoardDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PerformanceBoardDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PerformanceBoardDB]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[CheckInTime] [datetime] NULL,
	[CheckOutTime] [datetime] NULL,
	[Remarks] [nvarchar](255) NULL,
	[StatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Date] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceStatusMaster]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceStatusMaster](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation](
	[DesignationId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeEvaluation]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeEvaluation](
	[EvaluationId] [int] IDENTITY(1,1) NOT NULL,
	[EvaluationPeriodStart] [date] NOT NULL,
	[EvaluationPeriodEnd] [date] NOT NULL,
	[EvaluatedUserId] [int] NOT NULL,
	[EvaluatorUserId] [int] NOT NULL,
	[CommunicationRatingId] [int] NOT NULL,
	[PunctualityRatingId] [int] NOT NULL,
	[TeamworkRatingId] [int] NOT NULL,
	[TaskCompletionRatingId] [int] NOT NULL,
	[AttendanceRatingId] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[EvaluationDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EvaluationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProcedureName] [nvarchar](100) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[ErrorLine] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorState] [int] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[FromUserId] [int] NOT NULL,
	[ToUserId] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[Created_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[RatingLabel] [nvarchar](50) NOT NULL,
	[RatingScore] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RatingLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[DesignationId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Age] [int] NULL,
	[IsActive] [bit] NULL,
	[Created_At] [datetime] NOT NULL,
	[Created_By] [nvarchar](100) NULL,
	[Modified_On] [datetime] NULL,
	[Modified_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeEvaluation] ADD  DEFAULT (getdate()) FOR [EvaluationDate]
GO
ALTER TABLE [dbo].[EmployeeEvaluation] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[AttendanceStatusMaster] ([StatusId])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[EmployeeEvaluation]  WITH CHECK ADD FOREIGN KEY([AttendanceRatingId])
REFERENCES [dbo].[Rating] ([RatingId])
GO
ALTER TABLE [dbo].[EmployeeEvaluation]  WITH CHECK ADD FOREIGN KEY([CommunicationRatingId])
REFERENCES [dbo].[Rating] ([RatingId])
GO
ALTER TABLE [dbo].[EmployeeEvaluation]  WITH CHECK ADD FOREIGN KEY([EvaluatedUserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[EmployeeEvaluation]  WITH CHECK ADD FOREIGN KEY([EvaluatorUserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[EmployeeEvaluation]  WITH CHECK ADD FOREIGN KEY([PunctualityRatingId])
REFERENCES [dbo].[Rating] ([RatingId])
GO
ALTER TABLE [dbo].[EmployeeEvaluation]  WITH CHECK ADD FOREIGN KEY([TaskCompletionRatingId])
REFERENCES [dbo].[Rating] ([RatingId])
GO
ALTER TABLE [dbo].[EmployeeEvaluation]  WITH CHECK ADD FOREIGN KEY([TeamworkRatingId])
REFERENCES [dbo].[Rating] ([RatingId])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([FromUserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([ToUserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designation] ([DesignationId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
/****** Object:  StoredProcedure [dbo].[LoginUser]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginUser]
	@Email NVARCHAR(100),
    @PasswordHash NVARCHAR(MAX),
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
		SELECT Email, PasswordHash, IsActive FROM [User]
		WHERE Email = LOWER(@Email) AND 
			  PasswordHash = @PasswordHash
		
		-- Check if credentials are incorrect
        IF @@ROWCOUNT = 0
        BEGIN
            -- Determine the exact reason
            IF EXISTS (SELECT 1 FROM [User] WHERE Email = LOWER(@Email) AND IsActive = 0)
            BEGIN
                SET @Result = -1; -- -- Account is inactive
            END
			ELSE
				BEGIN
					SET @Result = -2; -- Incorrect email or password
				END
            RETURN;
        END
        SET @Result = 1; -- Login successful
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'LoginUser';
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterUser]
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(MAX),
	@DesignationId INT,
	@DepartmentId INT,
	@RoleId INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
		-- Check if Email already exists
        IF EXISTS (SELECT 1 FROM [User] WHERE Email = LOWER(@Email) AND IsActive = 1)
        BEGIN
            SET @Result = -1; -- Email already exists
            ROLLBACK TRANSACTION;
            RETURN;
        END

		-- Check if user not active
        ELSE IF EXISTS (SELECT 1 FROM [User] WHERE IsActive = 0)
        BEGIN
            SET @Result = -2; -- user not active
            ROLLBACK TRANSACTION;
            RETURN;
        END

        INSERT INTO [User] (FullName, Email, PasswordHash, [RoleID], DepartmentId, DesignationId, Created_By, Created_At, Modified_On, Modified_By)
        VALUES (@FullName, LOWER(@Email), @PasswordHash, @RoleId, @DepartmentId, @DesignationId, LOWER(@Email), GETDATE(), GETDATE(), LOWER(@Email));

        SET @Result = 1; -- Success
        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'RegisterUser';
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckInAttendance]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CheckInAttendance]
    @UserId INT,
    @StatusId INT,
    @Remarks NVARCHAR(255),
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF EXISTS (SELECT 1 FROM Attendance WHERE UserId = @UserId AND [Date] = CAST(GETDATE() AS DATE))
        BEGIN
            SET @Result = -1; -- Already checked in
        END
        ELSE
        BEGIN
            INSERT INTO Attendance (UserId, [Date], CheckInTime, StatusId, Remarks)
            VALUES (@UserId, CAST(GETDATE() AS DATE), GETDATE(), @StatusId, @Remarks);

            SET @Result = 1; -- Success
        END

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        SET @Result = 0;
        EXEC SP_LogError 'SP_CheckInAttendance';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckOutAttendance]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CheckOutAttendance]
    @UserId INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF EXISTS (
            SELECT 1 FROM Attendance 
            WHERE UserId = @UserId 
              AND [Date] = CAST(GETDATE() AS DATE)
              AND CheckOutTime IS NULL
        )
        BEGIN
            UPDATE Attendance
            SET CheckOutTime = GETDATE()
            WHERE UserId = @UserId AND [Date] = CAST(GETDATE() AS DATE);

            SET @Result = 1; -- Success
        END
        ELSE
        BEGIN
            SET @Result = -1; -- No check-in found or already checked out
        END

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        SET @Result = 0;
        EXEC SP_LogError 'SP_CheckOutAttendance';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteAttendanceStatus]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteAttendanceStatus]
    @StatusId INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM AttendanceStatusMaster WHERE StatusId = @StatusId)
        BEGIN
            SET @Result = -1; -- Designation not found
        END
        ELSE
        BEGIN
            DELETE FROM AttendanceStatusMaster
            WHERE StatusId = @StatusId;

            SET @Result = 1; -- Success
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_DeleteAttendanceStatus';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDepartment]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteDepartment]
    @DepartmentId INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM Department WHERE DepartmentId = @DepartmentId)
        BEGIN
            SET @Result = -1; -- Designation not found
        END
        ELSE
        BEGIN
            DELETE FROM Department
            WHERE DepartmentId = @DepartmentId;

            SET @Result = 1; -- Success
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_DeleteDepartment';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDesignation]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteDesignation]
    @DesignationId INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM Designation WHERE DesignationId = @DesignationId)
        BEGIN
            SET @Result = -1; -- Designation not found
        END
        ELSE
        BEGIN
            DELETE FROM Designation
            WHERE DesignationId = @DesignationId;

            SET @Result = 1; -- Success
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_DeleteDesignation';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteEmployeeEvaluation]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteEmployeeEvaluation]
    @EvaluationId INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check if record exists and is active
        IF EXISTS (
            SELECT 1 FROM EmployeeEvaluation 
            WHERE EvaluationId = @EvaluationId AND IsActive = 1
        )
        BEGIN
            UPDATE EmployeeEvaluation
            SET IsActive = 0
            WHERE EvaluationId = @EvaluationId;

            SET @Result = 1; -- success
        END
        ELSE
        BEGIN
            SET @Result = 0; -- record not found or already deleted
        END

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Result = -1; -- error

        EXEC SP_LogError 'SP_DeleteEmployeeEvaluation';
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRatings]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteRatings]
    @RatingId INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM Rating WHERE RatingId = @RatingId)
        BEGIN
            SET @Result = -1; -- Rating not found
        END
        ELSE
        BEGIN
            DELETE FROM Rating WHERE RatingId = @RatingId;
            SET @Result = 1; -- Success
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_DeleteRatings';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRole]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteRole]
    @RoleId INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM [Role] WHERE RoleId = @RoleId)
        BEGIN
            SET @Result = -1; -- Designation not found
        END
        ELSE
        BEGIN
            DELETE FROM [Role]
            WHERE RoleId = @RoleId;

            SET @Result = 1; -- Success
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_DeleteRole';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEvaluationsByUserId]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetEvaluationsByUserId]
    @EvaluatedUserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        E.EvaluationId,
        E.EvaluationPeriodStart,
        E.EvaluationPeriodEnd,
        E.EvaluatorUserId,
		E.EvaluatedUserId,
        U.FullName AS EvaluatorName,
        E.Comment,
        E.EvaluationDate,
        CR.RatingLabel AS CommunicationRating,
        PR.RatingLabel AS PunctualityRating,
        TR.RatingLabel AS TeamworkRating,
        TCR.RatingLabel AS TaskCompletionRating,
        AR.RatingLabel AS AttendanceRating
    FROM EmployeeEvaluation E
    INNER JOIN [User] U ON E.EvaluatorUserId = U.UserId
    INNER JOIN Rating CR ON E.CommunicationRatingId = CR.RatingId
    INNER JOIN Rating PR ON E.PunctualityRatingId = PR.RatingId
    INNER JOIN Rating TR ON E.TeamworkRatingId = TR.RatingId
    INNER JOIN Rating TCR ON E.TaskCompletionRatingId = TCR.RatingId
    INNER JOIN Rating AR ON E.AttendanceRatingId = AR.RatingId
    WHERE E.EvaluatedUserId = @EvaluatedUserId AND E.IsActive = 1
    ORDER BY E.EvaluationDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLatestFeedbacks]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetLatestFeedbacks]
AS
BEGIN
    SELECT TOP 5
        e.EvaluatedUserId,
        eu.FullName AS EvaluatedName,
        ev.FullName AS EvaluatorName,
        e.EvaluationPeriodStart,
        e.EvaluationPeriodEnd,
		e.Comment,
        ROUND((
            (r1.RatingScore + r2.RatingScore + r3.RatingScore + r4.RatingScore + r5.RatingScore) / 5.0
        ), 2) AS AverageScore,
        e.EvaluationDate
    FROM EmployeeEvaluation e
    INNER JOIN [User] eu ON e.EvaluatedUserId = eu.UserId
    INNER JOIN [User] ev ON e.EvaluatorUserId = ev.UserId
    INNER JOIN Rating r1 ON e.CommunicationRatingId = r1.RatingId
    INNER JOIN Rating r2 ON e.PunctualityRatingId = r2.RatingId
    INNER JOIN Rating r3 ON e.TeamworkRatingId = r3.RatingId
    INNER JOIN Rating r4 ON e.TaskCompletionRatingId = r4.RatingId
    INNER JOIN Rating r5 ON e.AttendanceRatingId = r5.RatingId
    WHERE e.IsActive = 1
    ORDER BY e.EvaluationDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetWeeklyAttendanceByUser]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetWeeklyAttendanceByUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT A.Id, A.[Date], A.CheckInTime, A.CheckOutTime, A.Remarks, A.StatusId, ASM.StatusName
    FROM Attendance A
    JOIN AttendanceStatusMaster ASM ON A.StatusId = ASM.StatusId
    WHERE A.UserId = @UserId
      AND DATEPART(WEEK, A.[Date]) = DATEPART(WEEK, GETDATE())
      AND DATENAME(WEEKDAY, A.[Date]) != 'Sunday'
    ORDER BY A.[Date];
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertAttendanceStatus]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertAttendanceStatus]
    @StatusName NVARCHAR(50),
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF EXISTS (SELECT 1 FROM AttendanceStatusMaster WHERE StatusName = @StatusName)
        BEGIN
            SET @Result = -1; -- Duplicate
        END
        ELSE
        BEGIN
            INSERT INTO AttendanceStatusMaster(StatusName)
            VALUES (@StatusName);
            SET @Result = 1; -- Success
        END
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_InsertAttendanceStatus';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertDepartment]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertDepartment]
    @DepartmentName NVARCHAR(100),
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF EXISTS (SELECT 1 FROM Department WHERE DepartmentName = @DepartmentName)
        BEGIN
            SET @Result = -1; -- Duplicate
        END
        ELSE
        BEGIN
            INSERT INTO Department(DepartmentName)
            VALUES (@DepartmentName);
            SET @Result = 1; -- Success
        END
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_InsertDepartment';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertDesignation]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertDesignation]
    @Title NVARCHAR(100),
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF EXISTS (SELECT 1 FROM Designation WHERE Title = @Title)
        BEGIN
            SET @Result = -1; -- Duplicate
        END
        ELSE
        BEGIN
            INSERT INTO Designation (Title)
            VALUES (@Title);
            SET @Result = 1; -- Success
        END
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_InsertDesignation';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertEmployeeEvaluation]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertEmployeeEvaluation]
    @EvaluationPeriodStart DATE,
    @EvaluationPeriodEnd DATE,
    @EvaluatedUserId INT,
    @EvaluatorUserId INT,
    @CommunicationRatingId INT,
    @PunctualityRatingId INT,
    @TeamworkRatingId INT,
    @TaskCompletionRatingId INT,
    @AttendanceRatingId INT,
    @Comment NVARCHAR(MAX),
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check if an evaluation already exists for this evaluator + evaluated + period
        IF EXISTS (
            SELECT 1 FROM EmployeeEvaluation
            WHERE 
                EvaluatedUserId = @EvaluatedUserId AND
                EvaluatorUserId = @EvaluatorUserId AND
                EvaluationPeriodStart = @EvaluationPeriodStart AND
                EvaluationPeriodEnd = @EvaluationPeriodEnd
        )
        BEGIN
            -- Update existing evaluation
            UPDATE EmployeeEvaluation
            SET 
                CommunicationRatingId = @CommunicationRatingId,
                PunctualityRatingId = @PunctualityRatingId,
                TeamworkRatingId = @TeamworkRatingId,
                TaskCompletionRatingId = @TaskCompletionRatingId,
                AttendanceRatingId = @AttendanceRatingId,
                Comment = @Comment,
                EvaluationDate = GETDATE(),
				IsActive = 1
            WHERE 
                EvaluatedUserId = @EvaluatedUserId AND
                EvaluatorUserId = @EvaluatorUserId AND
                EvaluationPeriodStart = @EvaluationPeriodStart AND
                EvaluationPeriodEnd = @EvaluationPeriodEnd;

            SET @Result = 2;  -- updated
        END
        ELSE
        BEGIN
            -- Insert new evaluation
            INSERT INTO EmployeeEvaluation (
                EvaluationPeriodStart,
                EvaluationPeriodEnd,
                EvaluatedUserId,
                EvaluatorUserId,
                CommunicationRatingId,
                PunctualityRatingId,
                TeamworkRatingId,
                TaskCompletionRatingId,
                AttendanceRatingId,
                Comment,
                EvaluationDate
            )
            VALUES (
                @EvaluationPeriodStart,
                @EvaluationPeriodEnd,
                @EvaluatedUserId,
                @EvaluatorUserId,
                @CommunicationRatingId,
                @PunctualityRatingId,
                @TeamworkRatingId,
                @TaskCompletionRatingId,
                @AttendanceRatingId,
                @Comment,
                GETDATE()
            );

            SET @Result = 1;  -- inserted
        END

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Result = -1; -- failure

        EXEC SP_LogError 'SP_InsertEmployeeEvaluation';
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertRatings]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertRatings]
    @RatingLabel NVARCHAR(50),
	@RatingScore INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF EXISTS (SELECT 1 FROM Rating WHERE RatingLabel = @RatingLabel OR RatingScore = @RatingScore)
        BEGIN
            SET @Result = -1; -- Duplicate
        END
        ELSE
        BEGIN
            INSERT INTO Rating(RatingLabel, RatingScore)
            VALUES (@RatingLabel, @RatingScore);
            SET @Result = 1; -- Success
        END
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_InsertRatings';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertRole]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertRole]
    @RoleName NVARCHAR(100),
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF EXISTS (SELECT 1 FROM [Role] WHERE RoleName = @RoleName)
        BEGIN
            SET @Result = -1; -- Duplicate
        END
        ELSE
        BEGIN
            INSERT INTO [Role] (RoleName)
            VALUES (@RoleName);
            SET @Result = 1; -- Success
        END
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_InsertRole';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LogError]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LogError]
    @ProcedureName NVARCHAR(100)
AS
BEGIN
    BEGIN TRY
        INSERT INTO ErrorLog (
            ProcedureName,
            ErrorMessage,
            ErrorLine,
            ErrorSeverity,
            ErrorState,
			CreatedOn
        )
        VALUES (
            @ProcedureName,
            ERROR_MESSAGE(),
            ERROR_LINE(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
			GETDATE()
        );
    END TRY
    BEGIN CATCH
        -- Fails silently to avoid recursive logging errors
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SoftDeleteUser]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SoftDeleteUser]
@UserId INT,
@Result INT OUTPUT
AS
BEGIN
SET NOCOUNT ON;
BEGIN TRY
BEGIN TRANSACTION;
    -- Check if the user exists
    IF NOT EXISTS (SELECT 1 FROM [User] WHERE UserId = @UserId)
    BEGIN
        SET @Result = -1; -- User not found
    END
    ELSE
    BEGIN
        UPDATE [User]
        SET IsActive = 0
        WHERE UserId = @UserId;

        SET @Result = 1; -- Success
    END

    COMMIT TRANSACTION;
END TRY
BEGIN CATCH
    ROLLBACK TRANSACTION;
    SET @Result = 0;
    EXEC SP_LogError 'SP_SoftDeleteUser';
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAttendanceStatus]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateAttendanceStatus]
    @StatusId INT,
    @StatusName NVARCHAR(100),
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF NOT EXISTS (SELECT 1 FROM AttendanceStatusMaster WHERE StatusId = @StatusId)
        BEGIN
            SET @Result = -2; -- Designation not found
        END
        ELSE IF EXISTS (SELECT 1 FROM AttendanceStatusMaster WHERE StatusName = @StatusName AND (StatusId != @StatusId OR StatusId = @StatusId))
        BEGIN
            SET @Result = -1; -- Duplicate title
        END
        ELSE
        BEGIN
            UPDATE AttendanceStatusMaster
            SET StatusName = @StatusName
            WHERE StatusId = @StatusId;

            SET @Result = 1; -- Success
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_UpdateAttendanceStatus';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDepartment]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateDepartment]
    @DepartmentId INT,
    @DepartmentName NVARCHAR(100),
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF NOT EXISTS (SELECT 1 FROM Department WHERE DepartmentId = @DepartmentId)
        BEGIN
            SET @Result = -2; -- Designation not found
        END
        ELSE IF EXISTS (SELECT 1 FROM Department WHERE DepartmentName = @DepartmentName AND (DepartmentId != @DepartmentId OR DepartmentId = @DepartmentId))
        BEGIN
            SET @Result = -1; -- Duplicate title
        END
        ELSE
        BEGIN
            UPDATE Department
            SET DepartmentName = @DepartmentName
            WHERE DepartmentId = @DepartmentId;

            SET @Result = 1; -- Success
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_UpdateDepartment';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDesignation]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateDesignation]
    @DesignationId INT,
    @Title NVARCHAR(100),
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF NOT EXISTS (SELECT 1 FROM Designation WHERE DesignationId = @DesignationId)
        BEGIN
            SET @Result = -2; -- Designation not found
        END
        ELSE IF EXISTS (SELECT 1 FROM Designation WHERE Title = @Title AND (DesignationId != @DesignationId OR DesignationId = @DesignationId))
        BEGIN
            SET @Result = -1; -- Duplicate title
        END
        ELSE
        BEGIN
            UPDATE Designation
            SET Title = @Title
            WHERE DesignationId = @DesignationId;

            SET @Result = 1; -- Success
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_UpdateDesignation';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRating]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateRating]
    @RatingId INT,
    @RatingLabel NVARCHAR(50),
    @RatingScore INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check if Rating exists
        IF NOT EXISTS (SELECT 1 FROM Rating WHERE RatingId = @RatingId)
        BEGIN
            SET @Result = -2; -- Rating not found
        END
        -- Check for duplicate label or score (excluding current record)
        ELSE IF EXISTS (
            SELECT 1 FROM Rating 
            WHERE (RatingLabel = @RatingLabel OR RatingScore = @RatingScore)
			AND RatingId <> @RatingId)
        BEGIN
            SET @Result = -1; -- Duplicate
        END
        ELSE
        BEGIN
            UPDATE Rating
            SET RatingLabel = @RatingLabel,
                RatingScore = @RatingScore
            WHERE RatingId = @RatingId;

            SET @Result = 1; -- Success
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_UpdateRating';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRole]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateRole]
    @RoleId INT,
    @RoleName NVARCHAR(100),
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF NOT EXISTS (SELECT 1 FROM [Role] WHERE RoleId = @RoleId)
        BEGIN
            SET @Result = -2; -- Designation not found
        END
        ELSE IF EXISTS (SELECT 1 FROM [Role] WHERE RoleName = @RoleName AND (RoleId != @RoleId OR RoleId = @RoleId))
        BEGIN
            SET @Result = -1; -- Duplicate title
        END
        ELSE
        BEGIN
            UPDATE [Role]
            SET RoleName = @RoleName
            WHERE RoleID = @RoleId;

            SET @Result = 1; -- Success
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
        EXEC SP_LogError 'SP_UpdateRole';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserRole]    Script Date: 28-07-2025 17:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateUserRole]
    @UserId INT,
    @DepartmentId INT,
    @DesignationId INT,
    @RoleId INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM [User] WHERE UserId = @UserId)
        BEGIN
            SET @Result = -1; -- User not found
            RETURN;
        END

        UPDATE [User]
        SET DepartmentID = @DepartmentId,
            DesignationId = @DesignationId,
            RoleId = @RoleId,
            Modified_On = GETDATE()
        WHERE UserId = @UserId;

        SET @Result = 1; -- Success
    END TRY
    BEGIN CATCH
        SET @Result = 0; -- Error
        EXEC SP_LogError 'SP_UpdateUserRole';
    END CATCH
END;
GO
USE [master]
GO
