@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="dashboardLayout" id="dashboardLayout">
    <!-- Main Content -->
    <div class="mainContent p-4" id="mainContent">
        <div>
            <h1>@ViewData["Title"]</h1>
            <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </div>
</div>
